

.about-us-page {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 50px;
  text-align: center;
  font-size:50px;
  align-items: center;
  justify-content: center;
}

.about-us-content {
  text-align: center;
  font-size:50px;
  text-decoration-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.about-us-text {
  background-color: rgba(27, 128, 136, 0.1);
  font-weight:bold;
  font-size:50px;
  text-align: justify;
  text-align: center;
  
}

.about-us-image {
  max-width: 100%;
  border-radius: 10px;
}


